@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.nav-item {
    margin-right: 12px;
}

header.banner {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: white;
    background-image: url("/bootstrap-doc/image/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner-subheading {

    font-size: 1.4rem;

    margin-bottom: 25px;

}

.banner-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
}

header.banner .btn {
    background-color: #b99b32;
    border: none;
    font-weight: 600;

}

@media (min-width:768px) {
    header.banner {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }

    header.banner .banner-subheading {
        font-size: 1.6rem;
        line-height: 2.25rem;
        margin-bottom: 2rem;

    }

    header.banner .banner-heading {

        max-width: 50rem;
        margin-right: auto;
        margin-left: auto;
    }

    .page-section {
        padding: 9rem 0;
    }

    #mainNav {

        background-color: #212529;
    }

    #mainNav .navbar-toggler {
        padding: 0.75rem;
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: 700;

    }

    #mainNav .navbar-brand {
        color: #b99b32;
        font-family: "Montserrat";
        font-weight: 700;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        font-family: "Montserrat";
        font-size: 0.95rem;
        color: white;
        letter-spacing: 0.0625rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #b99b32;
    }
}

.page-section {
    padding: 6rem 0;
}

.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
}

#portfolio .portfolio-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;

}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 233, 228, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    color: white;
    font-size: 1.25rem;

}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    opacity: 1;

}

#portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    background-color: #8e9aa7;
    text-align: center;

}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: 1.25rem;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
    font-style: italic;
    font-size: 0.875rem;
    font-weight: 400;
    color: #f8f9fa;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 4px;
    margin-left: -1.5px;
    content: "";
    background-color: #525c66;
}

.timeline li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline li:after,
.timeline li:before {
    display: table;
    content: "";
}

.timeline li:after {
    clear: both;
}

.timeline li .timeline-panel {
    position: relative;
    width: 100%;
    float: right;
    padding: 20px;
    padding: 0 20px 0 100px;

}

.timeline li .timeline-panel:before {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline li .timeline-panel:after {

    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 6px solid #bbbdc0;
    border-radius: 100%;
    background-color: #ffc800;
}

.timeline li .timeline-image img {

    border-radius: 100%;
    background-color: #ffc800;
}

.timeline li .timeline-image h4,
.timeline li .timeline-image .subheading {
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.timeline li .timeline-inverted .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline li .timeline-inverted .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0px;
}

.timeline li .timeline-inverted .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0px;
}

.timeline>li:last-child {
    margin-bottom: 0;

}

.timeline li .timeline-panel h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.timeline .timeline-heading h4,
.timeline .timeline-heading .subheading {
    margin-top: 0;
    color: inherit;
}

.timeline .timelineline-body ul,
.timeline .timeline-body p {
    margin-bottom: 0;
}

@media screen and (min-width:768px) {
    .timeline::before {
        left: 50%;

    }

    .timeline li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .timeline li .timeline-panel {
        width: 43%;
        float: left;
        padding: 20px;
        padding: 0 20px 20px 30px;
    }

    .timeline li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline li .timeline-image h4,
    .timeline li .timeline-image .subheading {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }

    .timeline li .timeline-inverted .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }






.timeline-inverted .timeline-panel{
    float: right !important;
    padding: 0 20px 0 100px;
    text-align: left;
}








}




footer{
    background-color: #bbb5b5;
    padding: 20px;
    text-align: center;
    color: #786767;
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    padding-top: 25px;
}
.cmpName{
    font-size: 0.8rem;
    color: #786767;
    font-weight: 800;
}
.foot1{
 
}
.foot2{
   
}
li{
    list-style: none;
}
.foot1 img{
    width: 48px;
}
.foot2,.foot3,.foot4  {
text-align: left;

}
.line{
    background-color: #786767;
    height: 1px;
    width: 70%;
    
    margin: 30px auto;
 
}
.bottom ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bottom ul li {
 border: 1px solid #786767;
    padding: 6px 8px;
    border-radius: 50%;
 
}
.copyright p{
    font-size: 0.7rem;
    color: #786767;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.toppick a{

color:#1e1e2f;
text-decoration: none;

}
